.safeSnap {
  position: relative;
  letter-spacing: -0.01em;
  line-height: 150%;
  font-weight: 600;
  display: inline-block;
  min-width: 96px;
}
.safeSnapWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-base);
}
.homeIcon,
.upload {
  position: relative;
  overflow: hidden;
}
.homeIcon {
  height: 24px;
  width: 24px;
  flex-shrink: 0;
  min-height: 24px;
}
.upload {
  flex: 1;
  line-height: 150%;
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menuItem {
  align-self: stretch;
  border-radius: var(--br-5xs);
  background-color: var(--color-whitesmoke-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-base);
  gap: var(--gap-base);
}
.bookmarkIcon,
.savedPublicPosts {
  position: relative;
  overflow: hidden;
}
.bookmarkIcon {
  height: 24px;
  width: 24px;
  flex-shrink: 0;
  min-height: 24px;
}
.savedPublicPosts {
  flex: 1;
  line-height: 150%;
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menuItem1 {
  align-self: stretch;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-base);
  gap: var(--gap-base);
  white-space: nowrap;
  cursor: pointer;
}
.bookmarkIcon1 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.savedPrivatePosts {
  flex: 1;
  position: relative;
  line-height: 150%;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menuItem2 {
  align-self: stretch;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-base);
  gap: var(--gap-base);
  white-space: nowrap;
  cursor: pointer;
}
.search,
.searchIcon {
  position: relative;
  overflow: hidden;
}
.searchIcon {
  height: 24px;
  width: 24px;
  flex-shrink: 0;
  min-height: 24px;
}
.search {
  flex: 1;
  line-height: 150%;
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menuItem3 {
  align-self: stretch;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-base);
  gap: var(--gap-base);
  top: 0;
  z-index: 99;
  position: sticky;
  cursor: pointer;
}
.messageCircleIcon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.authorisationPage {
  flex: 1;
  position: relative;
  line-height: 150%;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.leftSidebar,
.list,
.menuItem4 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.menuItem4 {
  align-self: stretch;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-base);
  gap: var(--gap-base);
  white-space: nowrap;
  cursor: pointer;
}
.leftSidebar,
.list {
  flex-direction: column;
}
.list {
  align-self: stretch;
  font-size: var(--small-text-size);
}
.leftSidebar {
  width: 256px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--color-white);
  padding: var(--padding-5xl) var(--padding-5xs) 622px;
  box-sizing: border-box;
  gap: var(--gap-5xl);
  min-width: 256px;
}
.image6Icon {
  height: 40px;
  width: 40px;
  position: absolute;
  margin: 0 !important;
  top: 123px;
  left: 272px;
  object-fit: cover;
  cursor: pointer;
}
.explore,
.following,
.home {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.02em;
  line-height: 31px;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
}
.home {
  color: var(--color-black);
  min-width: 78px;
}
.explore,
.following {
  min-width: 125px;
}
.explore {
  min-width: 99px;
}
.tabs {
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) 0 0;
  box-sizing: border-box;
  gap: 32px;
  max-width: 100%;
  white-space: nowrap;
  text-align: left;
  font-size: var(--font-size-9xl);
  color: var(--color-silver);
  font-family: var(--small-text);
}
.uploadInnerChild {
  height: 376px;
  width: 574px;
  position: relative;
  background-color: var(--color-gainsboro-300);
  display: none;
  max-width: 100%;
}
.dropFile,
.uploadFromCamera {
  margin: 0;
}
.uploadFromCameraContainer {
  height: 71px;
  flex: 1;
  position: relative;
  line-height: 150%;
  font-weight: 500;
  display: inline-block;
  z-index: 1;
}
.divider,
.imagePlaceholder {
  position: absolute;
  box-sizing: border-box;
}
.divider {
  height: 1px;
  width: 240px;
  margin: 0 !important;
  top: 29px;
  left: 27px;
  border-top: 1px solid var(--color-black);
  z-index: 2;
}
.imagePlaceholder {
  top: 0;
  left: 0;
  border: 1px solid var(--color-black);
  width: 100%;
  height: 100%;
  z-index: 3;
}
.image4Icon,
.image5Icon {
  position: absolute;
  top: 10px;
  left: 11px;
  width: 23px;
  height: 24px;
  object-fit: cover;
  z-index: 4;
}
.image5Icon {
  top: 39px;
}
.imagePreview {
  height: 70px;
  width: 239px;
  position: absolute;
  margin: 0 !important;
  top: -10px;
  left: 27px;
}
.uploadInstructions {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.uploadContainer,
.uploadContent,
.uploadInner {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
}
.uploadContent {
  width: 301px;
  justify-content: flex-start;
  padding: var(--padding-3xs) 0 0;
}
.uploadContainer,
.uploadInner {
  max-width: 100%;
}
.uploadInner {
  flex: 1;
  background-color: var(--color-gainsboro-300);
  justify-content: center;
  padding: 159px var(--padding-xl) 136px var(--padding-8xl);
}
.uploadContainer {
  align-self: stretch;
  justify-content: flex-end;
  padding: 0 var(--padding-7xs) 0 0;
}
.blankLine,
.blankLine1,
.blankLine2,
.blankLine3,
.blankLine4,
.blankLine5,
.blankLine6,
.blankLine7,
.uploadPicture1 {
  margin: 0;
}
.uploadPicture {
  height: 49px;
  flex: 1;
  position: relative;
  line-height: 150%;
  font-weight: 500;
  display: inline-block;
  max-width: 100%;
}
.commentInput {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-7xs) 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.icnIcon {
  width: 32px;
  height: 32px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.commentIcon {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 19px 0 0;
}
.blankLine8,
.commentHereWith,
.privateFor,
.publicFor {
  margin: 0;
}
.commentHereWithContainer {
  position: absolute;
  top: 19px;
  left: 0;
  line-height: 150%;
  font-weight: 500;
  display: inline-block;
  width: 498px;
  height: 96px;
  -webkit-text-stroke: 2px rgba(0, 0, 0, 0.2);
}
.commentBoxChild {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  max-height: 100%;
  width: 472px;
  z-index: 1;
}
.commentBox {
  height: 134px;
  flex: 1;
  position: relative;
  min-width: 324px;
  max-width: 100%;
}
.commentIconParent {
  width: 546px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-base);
  max-width: 100%;
  text-align: left;
}
.commentInputParent {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-end;
  padding: 0 0 0 var(--padding-2xl);
  box-sizing: border-box;
}
.commentInputParent,
.frameWrapper,
.uploadContainerParent {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.uploadContainerParent {
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  gap: 42px;
}
.frameWrapper {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 0 0 var(--padding-lg);
  box-sizing: border-box;
}
.tabsParent {
  align-self: stretch;
  flex-direction: column;
  gap: 86px;
}
.content,
.leftSidebarParent,
.tabsParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.content {
  flex: 1;
  flex-direction: column;
  padding: 64px 0 0;
  box-sizing: border-box;
  min-width: 389px;
  text-align: center;
  font-size: var(--small-text-size);
}
.leftSidebarParent {
  width: 934px;
  flex-direction: row;
  position: relative;
  gap: 80px;
  min-width: 934px;
  text-align: left;
  font-size: var(--body-text-size);
  color: var(--color-black);
  font-family: var(--small-text);
}
.topActivityPerformers {
  position: relative;
  line-height: 150%;
  font-weight: 600;
}
.listCard {
  align-self: stretch;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gainsboro-200);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xl) var(--padding-4xl);
  gap: var(--gap-5xs);
}
.communitiesYouMight {
  position: relative;
  line-height: 150%;
  font-weight: 600;
}
.listCard1 {
  align-self: stretch;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gainsboro-200);
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-3xl) var(--padding-4xl);
  gap: var(--gap-5xs);
}
.activity,
.feeda,
.listCard1 {
  display: flex;
  justify-content: flex-start;
}
.activity {
  height: 749px;
  width: 341px;
  overflow-y: auto;
  flex-shrink: 0;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 0 277px;
  box-sizing: border-box;
  gap: var(--gap-6xl);
  min-width: 341px;
  max-width: 100%;
}
.feeda {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: row;
  align-items: flex-end;
  gap: 125px;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--small-text-size);
  color: var(--color-black);
  font-family: var(--small-text);
}
@media screen and (max-width: 1325px) {
  .activity,
  .leftSidebarParent {
    flex: 1;
  }
  .feeda {
    flex-wrap: wrap;
    gap: 62px;
  }
}
@media screen and (max-width: 1125px) {
  .leftSidebarParent {
    gap: 40px;
    min-width: 100%;
  }
  .activity {
    padding-bottom: 180px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 800px) {
  .leftSidebar {
    flex: 1;
    padding-top: var(--padding-xl);
    padding-bottom: 404px;
    box-sizing: border-box;
  }
  .commentIconParent {
    flex-wrap: wrap;
  }
  .uploadContainerParent {
    gap: var(--gap-2xl);
  }
  .tabsParent {
    gap: 43px;
  }
  .content {
    padding-top: 42px;
    box-sizing: border-box;
  }
  .leftSidebarParent {
    flex-wrap: wrap;
    gap: var(--gap-xl);
  }
  .listCard {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
  .feeda {
    gap: var(--gap-12xl);
  }
}
@media screen and (max-width: 450px) {
  .safeSnap {
    font-size: var(--small-text-size);
    line-height: 24px;
  }
  .explore,
  .following,
  .home {
    font-size: var(--font-size-3xl);
    line-height: 25px;
  }
  .tabs {
    flex-wrap: wrap;
    gap: var(--gap-base);
  }
  .uploadInner {
    padding-top: 103px;
    padding-bottom: 88px;
    box-sizing: border-box;
  }
  .tabsParent {
    gap: var(--gap-2xl);
  }
  .activity,
  .content {
    box-sizing: border-box;
    min-width: 100%;
  }
  .content {
    padding-top: var(--padding-8xl);
  }
  .activity {
    padding-bottom: 117px;
  }
  .feeda {
    gap: var(--gap-base);
  }
}
